python-dotenv~=1.0.1
PyYAML~=6.0.2
click
requests
openai==1.37.1
langgraph
langchain==0.2.11
langchain-community==0.2.10
langchain-core===0.2.36
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
tavily-python
Levenshtein==0.25.1
loguru==0.7.2
pdfminer.six==20221105
pytest>=8.3.3
regex==2024.7.24
selenium==4.9.1
webdriver-manager==4.0.2
reportlab==4.2.2
